html,
body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

::-webkit-scrollbar {
  width: 5px;
  height: 2px;
  background: transparent;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #EDEDED;
}

::-webkit-scrollbar-thumb {
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
  background: #999;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

body {
  background: #ddd;
}

ul,
li {
  list-style-type: none;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content-inner {
  width: 1200px;
  margin: 0 auto;
}

.p-10 {
  padding: 10px;
}

.tab-title {
  padding: 0 5px;
}

.tab-title p {
  margin: 0;
  text-align: center;
}

.link {
  cursor: pointer !important;
  padding: 12px 10px !important;
}

main {
  padding-top: 80px;
}

@media screen and (max-width: 768px) {
  .content-inner {
    width: 100%;
  }

  main {
    padding-top: 144px;
  }
}