.container {
  width: 100%;
}

.areaHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 25px 0 10px;
}

.areaTitle > * {
  display: inline-block;
}

.areaTitle h1 {
  font-weight: 500;
  color: cornflowerblue;
  margin-right: 10px;
  margin-bottom: 0;
}

.more {
  position: relative;
  color: #666;
  cursor: pointer;
}

.more:hover {
  color: cornflowerblue;
}

.more::before {
  content: '';
  display: inline-block;
  width: 25px;
  height: 1px;
  background-color: #777;
  vertical-align: middle;
  margin-right: 4px;
}

.more:hover::before {
  background-color: cornflowerblue;
}

.caseScroll {
  position: relative;
  overflow: hidden;
}

.caseWrap {
  display: flex;
  transition: transform .4s ease;
}

.caseItem {
  width: 25%;
  flex-shrink: 0;
  padding: 5px;
  cursor: pointer;
}

.caseItem p {
  margin-bottom: 0;
}

.caseCover {
  height: 150px;
  border-radius: 4px;
}

.control {
  position: absolute;
  top: calc(50% - 5px);
  transform: translateY(-50%);
  z-index: 20;
  color: #fff;
  transition: .4s ease;
}

.control.prev {
  left: 10px;
}

.control.next {
  right: 10px;
}

.disabled {
  pointer-events: none;
  opacity: .5;
}

@media screen and (max-width: 768px) {
  .areaHeader {
    padding: 0 10px;
  }

  .areaTitle h1 {
    font-size: 20px;
  }

  .more {
    white-space: nowrap;
  }
}
